/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {

    /* HSL color mode */
    --first-color: #707070;
    --first-color-second: #FF0000;
    --first-color-alt: #E9E9E9;
    --text-color: #24211D;
    --container-color: #F5F4F4;

    /*========== Font and typography ==========*/
    --body-font: 'Raleway', sans-serif;;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --not-so-big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Márgenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 400;
    color: var(--text-color);
    background-color: #F5F4F4;
    overflow-x: hidden;
}

h1, h2, h3, h4{
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color)
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== BOTONES ====================*/

.botones{
    display: flex;
}

.boton__1{
    display: inline-block;
    background-color: var(--first-color-second);
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-weight: 600;
}

.boton__2{
    margin-left: 3rem;
    display: inline-block;
    background-color: transparent;
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 2rem; 
    border: 1px solid var(--first-color);
    font-weight: 500;
} 


/*==================== REUSABLE CSS CLASSES ====================*/
section{
    padding: 2rem 0 4rem;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 25px;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.linea__divisiora{
    margin: auto;
    border-bottom: 1px solid #7F7F7F;
    width: 75%;
    padding: 5rem 0;    
}

/*==================== NAV ====================*/

header {
    background-color: var(--first-color-alt);
    height: 100px;
}

.header {
    max-width: 1510px;
    margin: 0 auto;
    justify-content: space-between;
}


.nav__links{
    display: flex;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #24211D;
}

.nav__links li a{
    margin: 0 18px;
    padding: 3px 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.nav__links li a:hover{
    border-bottom: 2px solid var(--first-color-second);
    color: var(--first-color-second);
}




/* Active link */
.active-link{
    color: var(--first-color-second);
    border-bottom: 2px solid var(--first-color-second);
}

/* Background Header */
.scroll-header{
    position: fixed;
    scroll-behavior: smooth;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    z-index: 100000;
}


/*==================== HOME ====================*/

/*==================== PRINCIPAL ====================*/
.principal{
    background: url("/img/fondos/fondo-3.png") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
    background-size: cover;
    background-blend-mode: darken;
    
}

/* .principal::before{
    background-color: rgba(0, 0, 0, 50);
    background-size: cover;
} */

.principal {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15rem 0;
}

.principal__titles{
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
}

.principal__titles h1{
    font-size: 2.25rem;
    font-weight: 700;
}

.principal__titles h3{
    padding: 40px 0;
    font-size: var(--h2-font-size);
    font-weight: 300;
}

.principal__img {
    display: flex; 
    justify-content: center;
}

.principal__img img{
    max-width: 73%;
}

.principal__fondo{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}



/*==================== INSTITUCIONAL ====================*/

.institucional__section,
.nuestras__maquinas{
    padding: 12rem 0 10rem 0;
  
}

.institucional{
    display: grid;
    grid-template-columns: repeat(2, 650px);
    align-items: center;
    justify-content: center;
}

.institucional__img img{
    width: 65%;   
}

.institucional__texto h2{
    font-size: 1.75rem;
    font-weight: 700;
}

.institucional__texto p{
    margin-top: 2rem;
    font-size: 1.15rem;
}


/*==================== NUESTRAS MÁQUINAS (TÍTULOS) ====================*/
.nuestras__maquinas{
    background-color: var(--first-color-alt);
}

.nm__titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.nm__titulo h2{
    font-size: 1.75rem;
    font-weight: 700;
}

.nm__titulo span{
    font-size: 1.10rem;
    margin-top: 1rem;
}

.nm__titulo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 5rem;
}

.nm__titulo2 h2{
    font-weight: 700;
}

.nm__titulo2 span{
    font-size: 1.10rem;
    margin-top: 1rem;
}




/*==================== NUESTRAS MÁQUINAS - CONFECCIONADORA ====================*/

.nm__contenido{
    display: grid;
    grid-template-columns: repeat(2, 650px);
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-top: var(--mb-3);
}

.nm__img-confecc img{
    width: 70%;
}

.nm__texto-confecc p{
    margin-top: 1.15rem;
}

.nm__envases-cont{
    margin-top: var(--mb-3);
}

.nm__envases{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.nm__envases div img{
    width: 70%;
}

.nm__envases div span{
    margin-top: 1rem;
    text-align: center;
}

.nm__almohada, 
.nm__costuras,
.nm__doypack,
.nm__fytplana{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    align-items: center;
    
}

/*==================== NUESTRAS MÁQUINAS - DOSIFICADORES ====================*/


.nm__titulo3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 8rem;
}

.nm__titulo3 h2{
    font-weight: 700;
}

.nm__titulo3 span{
    font-size: 1.10rem;
    margin-top: 2rem;
}

.nm__img-dosi{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/*==================== NUESTRAS MÁQUINAS - ENFARDADORAS ====================*/

.nm__img-enfar{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.nm__img-enfar .horizontal{
    width: 90%;
}

/*==================== EMPAQUES ====================*/

 .empaques__section{
    padding: 6rem 0 10rem 0;
  
}

.empaques__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 5rem;
}

.empaques__titulo h2{
    font-size: 1.75rem;
    font-weight: 700;
}

.empaques__titulo span{
    font-size: 1.10rem;
    margin-top: 2rem;
} 

.nm__envases2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 12rem 5rem 12rem;

}

.nm__envases2 div img{
    width: 40%;
}

.nm__envases2 div span{
    margin-top: 3rem;
    text-align: center; 
    font-size: 1.2rem;
    font-weight: 600;
}

.nm__almohada2, 
.nm__costuras2,
.nm__doypack2,
.nm__fytplana2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.envases__p{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.envases__p span{
    font-weight: 600;
    margin-right: 10px;
}

/*==================== CONTACTO ====================*/
.contacto__section{
    padding: 6rem 0 10rem 0;
    background-color: #E9E9E9;
}

.contacto__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contacto__titulo h2{
    font-size: 1.75rem;
    font-weight: 700;
}

.contacto__titulo span{
    font-size: 1.10rem;
    margin-top: 2rem;
} 

.contacto__texto p, .contacto__texto2 p{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.contacto__texto__lista{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    align-items: center;
}

.lista1 ul, .lista2 ul{
    list-style-type: disc;
    list-style-position: outside;
}

.contacto__datos{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
    align-items: center;
}

.contacto__info2{
    display: flex;
    margin-bottom: 1rem;
}

.contacto__telefono{
    display: flex;
    flex-direction: column;
}

.contacto__icono{
    font-size: 1.7rem;
    margin-right: var(--mb-0-75);
}

/* ======== FORMULARIO ======== */

.contacto__form__titulo h2{
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.contacto__form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__inputs{
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 0.4rem;
}

.contact__content{
    margin: 0.4rem;
    width: 99%;
    background-color:  #FFFFFF;
    border-radius: .5rem;
    padding: 0.5rem 1rem .25rem;
}


.contact__label{
    font-size: 1rem;
}


.contact__input{
    width: 100%;
    background-color: #FFFFFF;
    font-size: 1.1rem;
    border: none;
    outline: none;
}

.btn__contact2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.btn__contact{
    background-color: var(--first-color-second);
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1rem;
    border-style: none;
}

/*==================== FOOTER ====================*/

.footer{
    padding-top: 3rem;
    background-color: #D6D6D6;
}

.footer__contenedor2{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__contenedor2 img{
    width: 44%;
}

.contacto__icono2{
    font-size: 2rem;
    padding-right: 1rem;
} 

.footer__copy{
    font-size: 1rem;
    text-align: center;
    color: var(--text-color);
    padding: 3rem 0 1rem 0;
}


/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 3rem;
    bottom: -20%;
    background-color: var(--first-color) ;
    opacity: .8;
    padding: .30rem .50rem;
    border-radius: 5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    color: var(--title-color);
}

.scrollup:hover{
    background-color: var(--first-color-second);
}

.scrollup__icon{
    font-size: 1rem;
    color: #FFF;
}

/* Mostrar scroll */
.show-scroll{
    bottom: 5rem;
}



/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */

@media screen and (max-width: 1024px){
    .header{
        display: flex;
        justify-content: space-around;
    }
    
    .nav__links li a{
        font-size: 0.9rem;
        margin: 0 10px;
        padding: 1px 0;
    }
}

/* For large devices */
@media screen and (max-width: 1300px){

    .principal{
        background: url("/img/fondos/fondo-1300.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        background-size: cover;
        background-blend-mode: darken;
    }
}

@media screen and (max-width: 1192px){
    
    .principal{
        background: url("/img/fondos/fondo-1300.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        background-size: cover;
        background-blend-mode: darken;
    }

    .header{
        display: flex;
        justify-content: space-around;
    }

    .principal{
        background-color: var(--first-color-alt);
    }

    .principal__fondo{
        display:none;
    }

    .principal__titles h1{
        font-size: 2rem;
    }

    .principal__titles h3{
        font-size: 1.3rem;
    }

    .boton__1, .boton__2{
        padding: 1rem 1rem;
    }
    
    .boton__2{
        margin-left: 0.8rem;
    }

    .principal__img{
        padding-left: 7rem;
    }

    .institucional{
        display: grid;
        grid-template-columns: repeat(2, 550px);
        align-items: center;
        justify-content: center;
        margin: 0 4rem;
    }

    .nm__contenido{
        display: grid;
        grid-template-columns: repeat(2, 550px);
    }

    .nm__img-confecc img{
        padding-left: 2rem;
    }

    .nm__img-dosi{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 2rem;
    }

    .nm__envases2 div img{
        width: 100%;
    }

    
    .nm__costuras2,
    .nm__doypack2,
    .nm__fytplana2{
        padding-left: 5rem;
    }

    .contacto__texto p,.contacto__texto2 p{
        justify-content: center;
        font-size: 1.1rem;
        margin: 0 4rem;
    }

    .contacto__datos{
        grid-template-columns: repeat(2, 500px);
        justify-content: center;
    }

    .contact__inputs, .contact__content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact__content{
        width: 90%;
    }

    .contact__top{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        align-items: center;
        margin-left: 5rem;
    }

    
@media screen and (max-width: 1192px){
    .principal{
        background: url("/img/fondos/fondo-1300.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        background-size: cover;
        background-blend-mode: darken;
    }
}
}

@media screen and (max-width: 1112px){
    
    .principal{
        background: url("/img/fondos/fondo-1300.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        background-size: cover;
        background-blend-mode: darken;
    }

    .principal__titles h1{
        font-size: 1.75rem;
        font-weight: 700;
    }

    .principal__img{
        padding: 0;
        margin-left: 1rem;
    }
    .institucional{
        grid-template-columns: repeat(2, 450px);
    
    }

    .institucional__img img{
       width: 80%;
    }

    .nm__contenido{
        display: grid;
        grid-template-columns: repeat(2, 450px);
    }

    .nm__contenido div img{
        width: 80%;
    }
}

@media screen and (max-width: 1040px){
    .principal{
        background: url("/img/fondos/fondo-1300.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        background-size: cover;
        background-blend-mode: darken;
    }

    .contacto__datos{
        grid-template-columns: repeat(2, 460px);
        justify-content: center;
    }

    .contacto__info__mapa{
        margin-right: 2rem;
        justify-content: left;
    }

    .nm__titulo3 span{
        text-align: center;
    }
}

@media screen and (max-width: 960px){
    .principal{
        background: url("/img/fondos/fondo-1300.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        background-size: cover;
        background-blend-mode: darken;
    }

    .nm__titulo3 span{
        padding: 0 2rem;
    }

    .nm__img-dosi{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 0.5rem;
    }

    .contacto__datos{
        grid-template-columns: repeat(2, 410px);
        justify-content: center;
    }

    .contacto__info__mapa{

        justify-content: left;
    }
    
    .hamburger{
        display: block;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;    
    }
    
    .hamburger.active .bar:nth-child(1){  
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){  
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav__links{
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: var(--first-color-alt);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
        z-index: 9999999;
    }
    
    .nav__links li{
        padding: 0.5rem 0;
        margin: 0.2rem 0;
    
    }
    
    .nav__links.active{
        left:0;
    }
}

@media screen and (max-width: 828px){

    .nm__envases2{
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 2rem; 
        justify-content: center;
        align-items: center;
    }

    
    .nm__almohada2, .nm__costuras2, .nm__doypack2, .nm__fytplana2 {
        
        width: 100%;
        padding: 0;
        
    }
    
    .nm__almohada2 span, .nm__costuras2 span, .nm__doypack2 span, .nm__fytplana2 span {
        margin: 0.5rem 0;
    }
    
    .nm__costuras2 {
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }

    .envases__p{
        text-align: left;
    }
    
    .envases__p span{
        margin-right: 0;
        margin-left: 2rem;
        
    }
    .contacto__datos{
        display: flex;
        flex-wrap: wrap;
    }

    .contacto__info__mapa{
        display: flex;
        margin-top: 3rem;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .contacto__info__mapa img{
        width: auto;
    }

    .contacto__form__titulo{
        text-align: center;
    }

    .footer__contenedor2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer__contenedor2 a {
        text-align: center;
        margin-bottom: 2rem;
    }

    .principal__titles{
        margin-left: 4rem;
    }

    .institucional {
        display: flex;
        flex-wrap: wrap;
    }

    .institucional__img {
        width: 80%;
        text-align: center;
    }

    .institucional__texto {
        margin-top: 3rem;
        text-align: center;
    }

    .institucional__texto h2{
        text-align: center;
    }

    .nm__contenido{
        display: flex;
        flex-wrap: wrap;
    }

    .nm__img-confecc{
        width: 85%;
        margin-left: 2rem;
    }

    .nm__texto-confecc{
        margin: 2rem 3rem 0 3rem;
        text-align: center;
    }

    .nm__img-dosi{
        display: flex;
        flex-wrap: wrap;
 
    }

    .nm__img-dosi img{
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .nm__img-enfar{
        display: flex;
        flex-wrap: wrap;
    }

    .nm__img-enfar img{
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }

    .contacto__texto, .contacto__texto2{
        text-align: center;
    }

    .contacto__texto__lista{
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
    }

    .contacto__datos{
        display: flex;
        flex-wrap: wrap;
    }

    .contacto__info__mapa{
        margin-top: 3rem;
        margin-left: 2rem;
        width: 80%;
    }

    .contacto__form__titulo{
        text-align: center;
    }

}

@media screen and (max-width: 665px){
    .principal{
        background: url("/img/fondos/fondo-665.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        background-size: cover;
        background-blend-mode: darken;
        
    }

    .principal{
        background: url("/img/fondos/fondo-665.jpg") no-repeat fixed 100% rgba(0, 0, 0, 0.3) ;
        padding: 8rem 1rem 8rem 0;        
    }

    .principal__titles{
        margin-left: 2rem;
    }

    .institucional__section{
        padding: 5rem 0 5rem 0;
    }

    .institucional{
        margin: 0 1.2rem;
    }

    .institucional__img img{
        width: 100%;
    }

    .nuestras__maquinas{
        padding: 5rem 0 5rem 0;
    }

    .nm__titulo span{
        margin: 2rem 1.2rem 0;
        text-align: center;
    }

    .nm__texto-confecc{
        font-size: 1.1rem;
    }

    .nm__envases{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        text-align: center;
    }

    .nm__img-confecc{
        width: 100%;
    }

    .nm__costuras{
        margin-left: 2rem;
        width: 55%;
    }


    .nm__fytplana{
        width: 100%;
    }

    .nm__img-enfar{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    .nm__img-enfar img{
        width: 60%;
    }

    .empaques__titulo span{
        text-align: center;
        margin: 2rem 2rem 0 2rem;
    }

    .nm__costuras2{
        margin: 1.5rem;
    }

    .nm__almohada2, .nm__costuras2, .nm__doypack2, .nm__fytplana2{
        width: 80%;
        text-align: center;
    }

    .nm__costuras2{
        width: 50%;
    }

    .nm__envases2{
        grid-template-columns: repeat(2, 160px);
        gap: 1.2rem;
        justify-content: center;
        align-items: center;
       margin: 2rem 1rem 2rem 3.5rem;
    }

    .envases__p{
        text-align: left;
        margin-right: 1rem;
    }

    .envases__p span{
        margin-right: 10px;
    }

    .contacto__section{
        padding: 3rem 0 5rem 0;
    }

    .contacto__texto, .contacto__texto2{
        font-size: 1.1rem;
    }

    .contacto__info{

        margin: 0 3rem;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
    }

    .contacto__form__titulo{
        margin: 0 2rem;
    }

    .contact__top{
        margin-left: 2rem;
    }
}

